* {
    font-family: 'Bakbak One', cursive;
}

.title {
    color: #1690F2;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Bakbak One', cursive;
}

.presentation {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.card-text {
    color: #07b77f;
}

.card-parcel {
    color: black;
    font-size: 15px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #69fafa !important;
}

#perfil {
    color: whitesmoke !important;
    margin-right: 10px !important;
}

#login {
    color: whitesmoke;
    margin-right: 10px;
}

#car {
    color: whitesmoke;
    margin-right: 10px;
}

#logout {
    color: whitesmoke;
    margin-right: 10px;
  }

#search {
    margin-left: 120px;
}

.bi:hover {
    color: #69fafa;
}


/*.btn:hover {*/
/*    color: #69fafa !important;*/
/*}*/

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
    background-color: #1e1818;
    border-radius: 20px;
    border: 3px solid white;
}