* {
    font-family: 'Bakbak One', cursive;
}

.title {
    color: #1690F2;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Bakbak One', cursive;
}

.apresation {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}
.card-text {
    color: #07b77f;
}

.card-parcel {
    color: black;
    font-size: 15px;
}